/*#region - start of - global styles */
body {
  font-family: "Poppins", sans-serif;
}

/*#region - start of - helper classes */
.logo-svg {
  width: 5rem;
  height: 2rem;
}

/*#endregion - end of - helper classes */
/*#endregion - end of - global styles */

/*#region - start of - header section */
.carousel-img {
  min-height: 19rem;
  -o-object-fit: cover;
  object-fit: cover;
}
/*#endregion - end of - header section */

/* for mobile devices */
@media (max-width: 1199.98px) {
  /* start of - Offcanvas fixed-top main navigation */
  .nav-overflow-x-hidden {
    overflow-x: hidden;
  }
  .offcanvas-collapse {
    transform: translateX(100%);
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, visibility 0.2s ease-in-out;
  }
  .offcanvas-collapse.show {
    overflow-y: auto;
    visibility: visible;
    transform: translateX(0%);
    height: 100vh;
    padding-bottom: 4rem;
  }
  /* end of - Offcanvas fixed-top main navigation */
}

/*#region - start of - medium - tablet (768px) devices */
@media screen and (min-width: 48rem) {
  /*#region - start of - header section */
  .carousel-img {
    height: 25rem;
  }
  /*#endregion - end of - header section */
}
/*#endregion - end of - medium - tablet devices */

/*#region - start of - extra large (1200px) devices */
@media screen and (min-width: 75rem) {
  /*#region - start of - header section */
  .carousel-img {
    height: 44rem;
  }
  /*#endregion - end of - header section */
}
/*#endregion - end of - extra large devices */
